.contact {
	@extend %section;
	background-color: $secondary-bg-color;

	&:before {
		background-color: $bg-color;
		clip-path: polygon(0 0, 0 100%, 100% 0);
	}

	h2 {
		color: $bg-color;
	}
}

.contact-content {
	@extend %section-content;
	color: $bg-color;
}

.contact-title {
	@extend %section-title;
}

.contact-item-icon {
	width: $medium-spacing;
	height: $medium-spacing;
	background-color: #efefef;
	padding: $xsmall-spacing;
	border-radius: $xsmall-spacing;
	margin-right:  $small-spacing;
}

.contact-item-at-sign {
	color: #000;
	font-weight: bold;
	text-align: center;
	font-size: 1.1em;
}

.contact-items {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;

	@media only screen and (min-width : $screen-small) {
		flex-direction: row;
	}
}

.contact-item {
	align-items: center;
	display: flex;
	flex-basis: 0;
	flex-shrink: 1;
	padding-bottom: $medium-spacing;
	padding-top: $medium-spacing;
	padding-left: $xsmall-spacing;
	padding-right: $xsmall-spacing;

	@media only screen and (min-width : $screen-small) {
		flex-basis: 40%;
	}
}

.contact-item-link {
	white-space: nowrap;
}