.experiences {
	@extend %section;
	&:before {
		background-color: $tertiary-bg-color;
		clip-path: polygon(100% 0, 100% 100%, 0 0);
	}
}

.experiences-content {
	@extend %section-content;
}

.experiences-title {
	@extend %section-title;
}

.experience-entries {
	margin-top: $xlarge-spacing;
}

.experience-entry {
	display: flex;
	flex-wrap: wrap;

	& + .experience-entry {
		margin-top: $large-spacing;
	}
}

.experience-entry-subtitle {
	font-weight: bold;
	order: -1;

	&:after {
		content: "\00a0 at\00a0";
	}

	@media only screen and (min-width : $screen-medium) {
		flex-basis: 70%;
		padding-bottom: $small-spacing;
		order: initial;

		&:after {
			content: "";
			margin-right: 0;
		}
	}
}

.experience-entry-title {
	font-weight: bold;

	@media only screen and (min-width : $screen-medium) {
		flex-basis: 30%;
	}
}

.experience-entry-timeline {
	flex-basis: 100%;
	padding-bottom: $small-spacing;

	@media only screen and (min-width : $screen-medium) {
		flex-basis: 30%;
	}
}

.experience-entry-details {
	flex-basis: 100%;

	@media only screen and (min-width : $screen-medium) {
		flex-basis: 70%;
	}	
}

