.experience-timeline {
	display: none;

	@media only screen and (min-width : $screen-small) {
		display: flex;
	}
}

.experience-timeline-year-section {
	$experience-timeline-year-shape-width: 27.479;
	$experience-timeline-year-shape-height: 53.682;

	background-repeat: no-repeat;
	background-size: 100% 100%;
	flex-grow:1;
	margin-left: -$medium-spacing;
	margin-right: -$medium-spacing;
	opacity: 0.9;
	padding-left: $medium-spacing;
	padding-right: $medium-spacing;
	position: relative;
	transition-duration: $animation-delay-fast;
	transition-property: opacity, transform;

	&.extended {
		display: none;
		@media only screen and (min-width : $screen-medium) {
			display: block;
		}
	}

	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($experience-timeline-year-shape-height / $experience-timeline-year-shape-width) * 100%;
	}

	&:nth-child(odd) {
		background-image: url('../images/timeline-year-shape-up.svg');

		.experience-timeline-year-logo {
			top: 5%;
		}

		.experience-timeline-year-text-container {
			bottom: 10%;
		}

		.experience-timeline-year-text {
			order: 0;
		}
	}

	&:nth-child(even) {
		background-image: url('../images/timeline-year-shape-down.svg');

		.experience-timeline-year-logo {
			bottom: 7%;
		}

		.experience-timeline-year-text-container {
			top: 10%;
		}

		.experience-timeline-year-text {
			order: 1;
		}
	}

	&:hover {
		opacity: 1;
		transform: scale(1.1);

		.experience-timeline-year-detail {
			opacity: 1;
		}
	}
}

.experience-timeline-year-shape {
	width: 100%;
}

.experience-timeline-year-text-container {
	display: flex;
	flex-direction: column;
	height: 30%;
	left: 0;
	position: absolute;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	font-size: calc(100% / 1.1);
}

.experience-timeline-year-logo {
	$relative-size: 15%;

    position: absolute;
    width: $relative-size;
    height: $relative-size;
    left: 50% - $relative-size /2;
}

.experience-timeline-year-detail {
	list-style: none;
	opacity: 0;
	transition-duration: $animation-delay-fast;
	transition-property: opacity;
	padding: 0;
	margin: 0;
	text-align: center;
}
