.experiences-content {
	@extend %section-content;
}

.experiences-title {
	@extend %section-title;
}

.experience-timeline-horizontal {
	display: none;
	justify-content: space-between;
	color: #FFF;
	border-radius: 20px;
	padding-left: 15px;
	padding-right: 15px;

	@media only screen and (min-width : $screen-large) {
		display: flex;
	}

	height: 500px;
	display: flex;
	align-items: center;
}

.experience-timeline-point {
	border-radius: 50px;
	flex-grow: 1;
	height: 50px;
	margin-left: -25px;
	margin-right: -25px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	&:first-child {
		flex-grow: 2;
	}

	&:nth-child(3n)
	{
		background-color: rgba(0,64,255,0.9);
	}

	&:nth-child(3n+1)
	{
		background-color: rgba(255,128,64,0.9);
	}

	&:nth-child(3n+2)
	{
		background-color: rgba(128,128,128,0.9);
	}

	&:nth-child(odd) > .experience-timeline-detail
	{
		top: -100px;
	}

	&:nth-child(odd) > time
	{
		top: -25px;
	}

	&:nth-child(even) > .experience-timeline-detail
	{
		bottom: -100px;
	}

	&:nth-child(even) > time
	{
		bottom: -25px;
	}

	& > time {
		color: $copy-color;
		position: absolute;
		left: 25px;
	}
}

.experience-timeline-detail {
	background-color: $tertiary-bg-color;
	color: $copy-color;
	left: 15px;
	min-width: 100px;
	padding: 10px;
	position: absolute;
}

.experience-timeline-badge {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 25px;
	left: 0;
	position: absolute;
	width: 50px;
	z-index: 1;
}

#experience-timeline-1987 {
	background-image: url('/static/images/pacifier.svg');
}

#experience-timeline-2008 {
	background-image: url('/static/images/browser.svg');
}