.profile {
	background-color: $tertiary-bg-color;
}

.profile-title, .profile-tagline {
	text-align: center;
}

.profile-content {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
}

.profile-container {
	display: flex;

	& > * {
		margin-left: 5px;
		margin-right: 5px;
	}
}

.profile-about {
	flex-grow: 2;	
}

.profile-him {
	align-self: center;

	@media only screen and (max-width : $screen-medium) {
		display: none;
	}
}

.profile-details {
	flex-grow: 1;	
}

.profile-details-info {
	margin-left: 0;
}
