.skills {
	background-color: $tertiary-bg-color;
}

.skills-content {
	@extend %section-content;
}

.skills-title {
	@extend %section-title;
}

.skills-table {
	@media only screen and (min-width : 500px) {
		column-count: 2;
	}
	@media only screen and (min-width : $screen-medium) {
		column-count: 3;
	}
}

.skill-part {
	display: flex;
	justify-content: space-between;
}

.skill-name {
}

.skill-count {
	padding-right: $xsmall-spacing;

	&:active, &:hover {
		.skill-star {
			transform: scale(1.1);
			opacity: 1;

			&:not(.filled) {
				filter: grayscale(100%);
				opacity: 0.6;
			}
		}
	}
}

.skill-star {
	background-image: url(../images/star.svg);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	height: 18px;
	margin-left: -2px;
	margin-right: -2px;
	opacity: 0.9;
	transition-duration: $animation-delay-slow;
	transition-property: transform, opacity;
	width: 18px;

	&:not(.filled) {
		filter: grayscale(100%);
		opacity: 0.2;
	}
}


.skills-legend {
	margin-top: 30px;

	&[open] {
		.skills-legend-list {
		    animation-name: skills-sweep;
		    animation-duration: $animation-delay-slow;
		    animation-timing-function: ease-in-out;
		}
	}
}

@keyframes skills-sweep {
  0% {
  	opacity: 0; 
  	margin-left: -$small-spacing;
  }
  100%  {
  	opacity: 1;
  	margin-left: 0;
  }
}

.skills-legend-summary {
	cursor: pointer;
	user-select: none;
}

.skills-legend-list {
	list-style: none;
}

@media only screen and (min-width : $screen-medium) {
	.skill-legend-item + .skill-legend-item {
		margin-top: $medium-spacing;
	}
}

.skill-legend-details {
	display: none;
	@media only screen and (min-width : $screen-small) {
		display: inherit;
		margin-top: $xsmall-spacing;
	}
}

.skills-legend-number {
	display: inline-block;
	height: 0;
	padding-right: $small-spacing;
	vertical-align: top;
}