@import "variables";

body {
	font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
}

body, html {
   height: 100%;
   min-width: $screen-minimum;
}

h2 {
	font-size: 3em;
	font-weight: lighter;
	color: #333
}

h3 {
	font-size: 2em;
	font-weight: lighter;
	color: #666;	
}

hr {
	color: #999;
}

.content {
	background-color: $bg-color;
}

@import "jumbotron";
@import "profile";