@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
	font-family: 'Lato', sans-serif;
  margin: 0;
  min-height: 320px;
  min-width: 320px;
}

body, html {
   height: 100%;
   font-size: 14px;
}