{% load static %}

<section class="contact">
	<div class="contact-content">
		<h2 class="contact-title"><a id="contact"></a>Contact</h2>
		<hr>

		<div class="contact-items">
			<div class="contact-item">
				<img src="{% static 'images/twitter.svg' %}" alt="Twitter icon" class="contact-item-icon">
				<a href="https://twitter.com/ignacioavas" class="contact-item-link">twitter.com/ignacioavas</a>
			</div>

			<div class="contact-item">
				<img src="{% static 'images/github.svg' %}" alt="Github icon" class="contact-item-icon">
				<a href="https://github.com/igui" class="contact-item-link">github.com/igui</a>
			</div>

			<div class="contact-item">
				<img src="{% static 'images/linkedin.svg' %}" alt="LinkedIn icon" class="contact-item-icon">
				<a href="https://www.linkedin.com/in/iavas/" class="contact-item-link">linkedin.com/in/iavas</a>
			</div>

			<div class="contact-item">
				<img src="{% static 'images/at.svg' %}" class="contact-item-icon" alt="at sign">
				<a href="mailto:igui.noreply@gmail.com" id="theemail" class="contact-item-link">
				Send an Email</a>
			</div>
		</div>
	</div>
</section>