{% load static %}

<section class="experiences">
	<div class="experiences-content">
		<header>
			<h2 class="experiences-title"><a id="experiences"></a>Experiences</h2>
			<blockquote>
				Design and programming are human activities; forget that and all is lost
				<br>
				<a href="https://en.wikipedia.org/wiki/Bjarne_Stroustrup" class="quote-author">Bjarne Stroustrup</a>
			</blockquote>
			<hr>
		</header>

		<section class="experience-timeline">
			<div class="experience-timeline-year-section extended">				
				<img class="experience-timeline-year-logo" src="{% static 'images/pacifier.svg' %}">
				<div class="experience-timeline-year-text-container">
					<span class="experience-timeline-year-text">1987</span>
					<ul class="experience-timeline-year-detail">
						<li>Hello World</li>
					</ul>
				</div>
			</div>
			<div class="experience-timeline-year-section extended">				
				<img class="experience-timeline-year-logo" src="{% static 'images/app.svg' %}">
				<div class="experience-timeline-year-text-container">
					<span class="experience-timeline-year-text">2008</span>
					<ul class="experience-timeline-year-detail">
						<li>NoTranzo</li>
					</ul>
				</div>
			</div>
			<div class="experience-timeline-year-section">				
				<img class="experience-timeline-year-logo" src="{% static 'images/sdf.svg' %}">
				<div class="experience-timeline-year-text-container">
					<span class="experience-timeline-year-text">2009</span>
					<ul class="experience-timeline-year-detail">
						<li>SDF</li>
						<li>Professor @ <a href="https://www.fing.edu.uy/">Fing</a></li>
					</ul>
				</div>
			</div>
			<div class="experience-timeline-year-section">				
				<img class="experience-timeline-year-logo" src="{% static 'images/cheese.svg' %}">
				<div class="experience-timeline-year-text-container">
					<span class="experience-timeline-year-text">2010</span>
					<ul class="experience-timeline-year-detail">
						<li>SEF</li>
						<li>Say Cheese</li>
					</ul>
				</div>
			</div>
			<div class="experience-timeline-year-section">				
				<img class="experience-timeline-year-logo" src="{% static 'images/arkano.svg' %}">
				<div class="experience-timeline-year-text-container">
					<span class="experience-timeline-year-text">2011</span>

					<ul class="experience-timeline-year-detail">
						<li><a href="https://www.arkanosoft.com/">Arkano</a></li>
					</ul>
				</div>
			</div>
			<div class="experience-timeline-year-section">				
				<img class="experience-timeline-year-logo" src="{% static 'images/netsuite.svg' %}">
				<div class="experience-timeline-year-text-container">
					<span class="experience-timeline-year-text">2013</span>

					<ul class="experience-timeline-year-detail">
						<li>Netsuite</li>
						<li>Pasteboard</li>
					</ul>
				</div>
			</div>
			<div class="experience-timeline-year-section">				
				<img class="experience-timeline-year-logo" src="{% static 'images/flappy.svg' %}">
				<div class="experience-timeline-year-text-container">
					<span class="experience-timeline-year-text">2014</span>

					<ul class="experience-timeline-year-detail">
						<li>FlappyBird</li>
					</ul>
				</div>
			</div>
			<div class="experience-timeline-year-section">				
				<img class="experience-timeline-year-logo" src="{% static 'images/cap.svg' %}">
				<div class="experience-timeline-year-text-container">
					<span class="experience-timeline-year-text">2016</span>
					<ul class="experience-timeline-year-detail">
						<li>CE Degree</li>
					</ul>
				</div>
			</div>
			<div class="experience-timeline-year-section extended">				
				<img class="experience-timeline-year-logo" src="{% static 'images/sophilabs.svg' %}">
				<div class="experience-timeline-year-text-container">
					<span class="experience-timeline-year-text extended">2017</span>
					<ul class="experience-timeline-year-detail">
						<li>Sophilabs</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="experience-entries">

			<div class="experience-entry">
				<div class="experience-entry-title"><a href="http://www.universidad.edu.uy/">University of Republic</a></div>
				<div class="experience-entry-subtitle">Computing Engineering</div>
				<time class="experience-entry-timeline">2006 - 2015</time>
				<div class="experience-entry-details">
					Graduated doing my final project in the field of Computer Graphics, developing a tool for performing GPU Photon Mapping implemented in <a href="http://www.nvidia.com/object/cuda_home_new.html">CUDA</a> using <a href="https://developer.nvidia.com/optix">OptiX</a> library.
				</div>
			</div>

			<div class="experience-entry">
				<div class="experience-entry-title"><a href="https://sophilabs.co/">Sophilabs</a></div>
				<div class="experience-entry-subtitle">Software Developer</div>
				<time class="experience-entry-timeline">2017 - Present</time>
				<div class="experience-entry-details">
					I just joined to work on Research and Development, and building solutions primarily using <a href="https://www.djangoproject.com/">Django</a>, <a href="https://www.python.org/">Python</a> and <a href="https://nodejs.org/en/">Node.js</a> technologies. 
				</div>
			</div>

			<div class="experience-entry">
				<div class="experience-entry-title"><a href="http://www.netsuite.com/">Netsuite</a> (aquired by Oracle)</div>
				<div class="experience-entry-subtitle">Team Lead, Software Engineering</div>
				<time class="experience-entry-timeline">2013 - 2017</time>
				<div class="experience-entry-details">
					In my period in Netsuite I contributed to the development <a href="http://www.netsuite.com/portal/products/ecommerce/products/pos.shtml">SuiteCommerce In Store</a>, a Point of Sale software leveraging the Netsuite platform, Backbone, Sass, and mobile first development. Also taking priority of making quality and robust software, and having a clean code base. Using SCRUM for following an agile development cycle. 
				</div>
			</div>

			<div class="experience-entry">
				<div class="experience-entry-title"><a href="http://www.universidad.edu.uy/">University of Republic</a></div>
				<div class="experience-entry-subtitle">Assistant Professor</div>
				<time class="experience-entry-timeline">2009 - 2014</time>
				<div class="experience-entry-details">
					I was a part time Professor, participating in dictating Object Oriented Programming, C++, Java and Web Development related courses.
				</div>
			</div>

			<div class="experience-entry">
				<div class="experience-entry-title">Freelancing</div>
				<div class="experience-entry-subtitle">Ruby Developer</div>
				<time class="experience-entry-timeline">2012 - 2013</time>
				<div class="experience-entry-details">
					I spent a one year speel freelancing, where I mainly code in Ruby and other technologies including Sinatra, Node.js and CoffeeScript in 1 to 3 months projects.
				</div>
			</div>

			<div class="experience-entry">
				<div class="experience-entry-title"><a href="https://www.arkanosoft.com/">Arkano</a></div>
				<div class="experience-entry-subtitle">.NET Developer</div>
				<time class="experience-entry-timeline">2011 - 2012</time>
				<div class="experience-entry-details">
					In this period, I participated in the development of several short projects using technologies including SharePoint 2010, BizTalk 2006, SQL Server 2010 and other Microsoft based products.
				</div>
			</div>

			<div class="experience-entry">
				<div class="experience-entry-title"><a href="http://www.giglobaljob.com/">GiglobalJob</a></div>
				<div class="experience-entry-subtitle">Python Developer</div>
				<time class="experience-entry-timeline">2009 - 2011</time>
				<div class="experience-entry-details">
					My primary responsibilities included design and development of various frameworks and standalone programs to help web development and web scraping from initial planning to final production. 
				</div>
			</div>

		</section>
	</div>
</section>