{% load static %}

<section class="experiences">
	<div class="experiences-content">
		<header>
			<h2 class="experiences-title"><a id="experiences"></a>Experiences</h2>
			<blockquote>
				Design and programming are human activities; forget that and all is lost
				<br>
				<a href="https://en.wikipedia.org/wiki/Bjarne_Stroustrup" class="quote-author">Bjarne Stroustrup</a>
			</blockquote>
			<hr>
		</header>

		<section class="experience-timeline-horizontal">
			<div class="experience-timeline-year-section">
				<img class="experience-timeline-year-shape" src="{% static 'images/timeline-year-shape-up.svg' %}">
				<img class="experience-timeline-year-logo" src="{% static 'images/pacifier.svg' %}">
				<div class="experience-timeline-year-text-container">
					<span class="experience-timeline-year-text">1987</span>
				</div>
			</div>
			<div class="experience-timeline-year-section">
				<img class="experience-timeline-year-shape" src="{% static 'images/timeline-year-shape-down.svg' %}">
				<img class="experience-timeline-year-logo" src="{% static 'images/app.svg' %}">
				<div class="experience-timeline-year-text-container">
					<span class="experience-timeline-year-text">2008</span>
				</div>
			</div>
			<div class="experience-timeline-year-section">
				<img class="experience-timeline-year-shape" src="{% static 'images/timeline-year-shape-up.svg' %}">
				<img class="experience-timeline-year-logo" src="{% static 'images/sdf.svg' %}">
				<div class="experience-timeline-year-text-container">
					<span class="experience-timeline-year-text">2009</span>
				</div>
			</div>
			<div class="experience-timeline-year-section">
				<img class="experience-timeline-year-shape" src="{% static 'images/timeline-year-shape-down.svg' %}">
				<img class="experience-timeline-year-logo" src="{% static 'images/cheese.svg' %}">
				<div class="experience-timeline-year-text-container">
					<span class="experience-timeline-year-text">2010</span>
				</div>
			</div>
			<div class="experience-timeline-year-section">
				<img class="experience-timeline-year-shape" src="{% static 'images/timeline-year-shape-up.svg' %}">
				<img class="experience-timeline-year-logo" src="{% static 'images/arkano.svg' %}">
				<div class="experience-timeline-year-text-container">
					<span class="experience-timeline-year-text">2011</span>
				</div>
			</div>
			<div class="experience-timeline-year-section">
				<img class="experience-timeline-year-shape" src="{% static 'images/timeline-year-shape-down.svg' %}">
				<img class="experience-timeline-year-logo" src="{% static 'images/netsuite.svg' %}">
				<div class="experience-timeline-year-text-container">
					<span class="experience-timeline-year-text">2013</span>
				</div>
			</div>
			<div class="experience-timeline-year-section">
				<img class="experience-timeline-year-shape" src="{% static 'images/timeline-year-shape-up.svg' %}">
				<img class="experience-timeline-year-logo" src="{% static 'images/flappy.svg' %}">
				<div class="experience-timeline-year-text-container">
					<span class="experience-timeline-year-text">2014</span>
				</div>
			</div>
			<div class="experience-timeline-year-section">
				<img class="experience-timeline-year-shape" src="{% static 'images/timeline-year-shape-down.svg' %}">
				<img class="experience-timeline-year-logo" src="{% static 'images/sophilabs.svg' %}">
				<div class="experience-timeline-year-text-container">
					<span class="experience-timeline-year-text">2017</span>
				</div>
			</div>
		</section>

		<section class="experience-timeline-education">
			<h3>Education</h3>

			<div class="experience-entry">
				<div class="experience-entry-title">University of Republic</div>
				<div class="experience-entry-subtitle">Computing Engineering</div>
				<time class="experience-entry-timeline">2006 - 2015</time>
				<div class="experience-entry-details">
					In sed euismod tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et augue id nisl posuere posuere eget ut augue. Integer fermentum mauris a augue hendrerit, at finibus ligula porttitor. Vestibulum augue ligula, tempus id enim et, sollicitudin dictum diam. Aenean scelerisque quam feugiat porttitor luctus. Integer nec purus tellus. Vestibulum ex felis, viverra quis massa vel, vehicula vestibulum dolor. 
				</div>
			</div>
		</section>
	</div>
</section>