{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}

<div class="jumbotron-background">
    <img class="jumbotron-video-fallback" src="{% static 'images/jumbotron.jpg' %}"
    		id="jumbotron-video-fallback"
    		alt="Out of focus monitor closeup showing a text editor">

	<div class="jumbotron-video-container" id="jumbotron-video-container"></div>
</div>

<section class="jumbotron">
	<div class="jumbotron-container">
		<h1 class="jumbotron-header" id="jumbotron-header">Developer.</h1>
		<div class="jumbotron-buttons">
			<a class="contact-button" href="#contact">Contact</a>
			<a class="resume-button" href="https://www.dropbox.com/s/l2a7xfibomb4a59/CV%20Ignacio%20Avas.pdf?dl=1">Resume</a>
		</div>
	</div>
</section>

<div class="content">
	{% include "profile.html" %}
	{% include "experiences.html" %}
	{% include "skills.html" %}
	{% include "projects.html" %}
	{% include "contact.html" %}
</div>

{% endblock %}
