{% load static %}

<section class="profile">
<div class="profile-content">
	<h2 class="profile-title"><a id="profile"></a>Profile</h2>
	<h3 class="profile-tagline">All around Developer</h3>
	<hr/>
	
	<div class="profile-container">
		<div class="profile-him">
			<img src="{% static "images/him.jpg" %}" alt="Ignacio Avas shaved, pretty face enclosed in a circle with cloud background">
		</div>

		<div class="profile-about">
			<h3>About me</h3>	
			<p>
				I work as full-time developer. I have a Computer Engineering degree since 2015. I specialize in system architecture and design, Python programming and web developing, having broad knowledge of many languages from the old 8086 assembler to ASP .NET. I have a passion for learning new programming paradigms, languages, technologies and new ways to resolve problems.
			</p>
		</div>

		<div class="profile-details">
			<h3>Details</h3>

			<dl class="profile-details-facts">
				<div class="profile-details-fact">
					<dt class="profile-details-head">Name:</dt>
					<dd class="profile-details-info">Ignacio Avas</dd>
				</div>

				<div class="profile-details-fact">
					<dt class="profile-details-head">Age:</dt>
					<dd class="profile-details-info">{{ age|escape }}</dd>
				</div>

				<div class="profile-details-fact">
					<dt class="profile-details-head">Location:</dt>
					<dd class="profile-details-info">Uruguay, South America, Earth</dd>
				</div>
			</dl>
		</div>
	</div>
</div>
</section>