{% load static %}

<section class="projects">
	<div class="project-separator"></div>
	<div class="projects-content">
		<header>
			<h2 class="projects-title"><a id="projects"></a>Projects</h2>
			<blockquote>
				Practice does not make perfect. Only perfect practice makes perfect.
				<br>
				<a href="https://en.wikipedia.org/wiki/Alan_Turing" class="quote-author">Vince Lombardi</a>
			</blockquote>
			<hr>
		</header>

		<section class="projects-grid">
			<figure class="projects-element">
				<img class="projects-element-graphic" src="{% static "images/flappybird/3.jpg" %}" alt="Flappy Bird Perspective shot showing a red bird flying over green tubes, over a bridge">
				<figcaption class="projects-element-caption">Flappy Bird (clone)</figcaption>
			</figure>

			<figure class="projects-element">
				<img class="projects-element-graphic" src="{% static "images/1vs100/1.jpg" %}" alt="1vs100 Phone shot on a black background">
				<figcaption class="projects-element-caption">1 vs 100 for Windows Mobile</figcaption>
			</figure>

			<figure class="projects-element">
				<img class="projects-element-graphic" src="{% static "images/1vs100/1.jpg" %}" alt="Twitter VR">
				<figcaption class="projects-element-caption">Twitter VR</figcaption>
			</figure>

			<figure class="projects-element">
				<img class="projects-element-graphic" src="{% static "images/rpsolver/1.jpg" %}" alt="RPSolver">
				<figcaption class="projects-element-caption">RPSolver</figcaption>
			</figure>

			<figure class="projects-element">
				<img class="projects-element-graphic" src="{% static "images/scis/1.jpg" %}" alt="SCIS iPad screenshot showing the login screen">
				<figcaption class="projects-element-caption">SCIS</figcaption>
			</figure>

			<figure class="projects-element">
				<img class="projects-element-graphic" src="{% static "images/glamst/1.jpg" %}" alt="GlamST">
				<figcaption class="projects-element-caption">GlamST</figcaption>
			</figure>

			<figure class="projects-element">
				<img class="projects-element-graphic" src="{% static "images/saycheese/1.jpg" %}" alt="Say Cheese login screen showing email and password">
				<figcaption class="projects-element-caption">Say Cheese</figcaption>
			</figure>

			<figure class="projects-element">
				<img class="projects-element-graphic" src="{% static "images/pasteboard/1.jpg" %}" alt="Pasteboard login screen displaying website features">
				<figcaption class="projects-element-caption">Pasteboard</figcaption>
			</figure>

			<figure class="projects-element">
				<img class="projects-element-graphic" src="{% static "images/sdf/1.jpg" %}" alt="SDF Browser snapshot">
				<figcaption class="projects-element-caption">Scraping Development Framework</figcaption>
			</figure>


			<figure class="projects-element">
				<img class="projects-element-graphic" src="{% static "images/notranzo/1.jpg" %}" alt="Notranzo website showing product list">
				<figcaption class="projects-element-caption">Notranzo site</figcaption>
			</figure>

			<figure class="projects-element">
				<img class="projects-element-graphic" src="{% static "images/notranzo/1.jpg" %}" alt="GRPS Arduino">
				<figcaption class="projects-element-caption">GPRS Arduino</figcaption>
			</figure>

			<figure class="projects-element">
				<img class="projects-element-graphic" src="{% static "images/notranzo/1.jpg" %}" alt="Lesshint Sublime Text">
				<figcaption class="projects-element-caption">Less hint for Sublime Text</figcaption>
			</figure>
		</section>
	</div>
</section>