{% load static %}

<section class="experiences">
	<div class="experiences-content">
		<header>
			<h2 class="experiences-title"><a id="experiences"></a>Experiences</h2>
			<blockquote>
				Sometimes it is the people no one imagines anything of who do the things that no-one can imagine
				<br>
				<a href="https://en.wikipedia.org/wiki/Alan_Turing" class="quote-author">Alan Turing</a>
			</blockquote>
			<hr>
		</header>

		<section class="skills-content">
			<div class="skill-box">
			</div>
		</section>

		</section class="legend">
			 5 - Could have written the book, but didn't.
			 4 - Can develop/deploy large programs, implies an understanding of corner cases and esoteric features.
			 3 - Understanding and (appropriate) usage of most lesser known features.
			 2 - Can develop/deploy medium programs/systems using all basic (w/o book) and a few esoteric features (w/ book). Understands enough about internals to do nontrivial troubleshooting.
			 1 - Can utilize basic features without much help, manage a small installation competently.
			 0 - Can read programs, make small changes to existing programs, or make adjustments to already installed systems, w/book handy.
		</section>
	</div>
</section>