{% load static %}

<section class="skills">
	<div class="skills-content">
		<header>
			<h2 class="skills-title"><a id="skills"></a>Skills</h2>
			<blockquote>
				Sometimes it is the people no one imagines anything of who do the things that no-one can imagine
				<br>
				<a href="https://en.wikipedia.org/wiki/Alan_Turing" class="quote-author">Alan Turing</a>
			</blockquote>
			<hr>
		</header>

		<p>
			I'm a Jack of all trades, master of none. My main skills are Python, C++, Web Development, and lately Game programming. I persue have side projects, currently working on an Arduino GPS tracker for my bike. The figure below describes some of my most relevant skills.
		</p>

		<section class="skills-table">
			<div class="skill-part">
				<div class="skill-name">
					Python
				</div>
				<div class="skill-count">
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star"></div>
				</div>
			</div>
			<div class="skill-part">
				<div class="skill-name">
					Django
				</div>
				<div class="skill-count">
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star"></div>
				</div>
			</div>
			<div class="skill-part">
				<div class="skill-name">
					Unity
				</div>
				<div class="skill-count">
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star"></div>
				</div>
			</div>
			<div class="skill-part">
				<div class="skill-name">
					Photon Mapping
				</div>
				<div class="skill-count">
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star"></div>
					<div class="skill-star"></div>
				</div>
			</div>
			<div class="skill-part">
				<div class="skill-name">
					Javascript
				</div>
				<div class="skill-count">
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
				</div>
			</div>
			<div class="skill-part">
				<div class="skill-name">
					React
				</div>
				<div class="skill-count">
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star"></div>
					<div class="skill-star"></div>
					<div class="skill-star"></div>
				</div>
			</div>
			<div class="skill-part">
				<div class="skill-name">
					Ruby
				</div>
				<div class="skill-count">
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star"></div>
					<div class="skill-star"></div>
					<div class="skill-star"></div>
				</div>
			</div>
			<div class="skill-part">
				<div class="skill-name">
					Angular
				</div>
				<div class="skill-count">
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star"></div>
					<div class="skill-star"></div>
					<div class="skill-star"></div>
				</div>
			</div>
			<div class="skill-part">
				<div class="skill-name">
					OpenGL
				</div>
				<div class="skill-count">
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star"></div>
				</div>
			</div>
			<div class="skill-part">
				<div class="skill-name">
					C/C++
				</div>
				<div class="skill-count">
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star"></div>
				</div>
			</div>
			<div class="skill-part">
				<div class="skill-name">
					C#
				</div>
				<div class="skill-count">
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star"></div>
					<div class="skill-star"></div>
				</div>
			</div>
			<div class="skill-part">
				<div class="skill-name">
					Assembly
				</div>
				<div class="skill-count">
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star"></div>
					<div class="skill-star"></div>
					<div class="skill-star"></div>
				</div>
			</div>
			<div class="skill-part">
				<div class="skill-name">
					Game Development
				</div>
				<div class="skill-count">
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star"></div>
				</div>
			</div>
			<div class="skill-part">
				<div class="skill-name">
					CUDA
				</div>
				<div class="skill-count">
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star"></div>
				</div>
			</div>
		</section>

		<details class="skills-legend">
			<summary class="skills-legend-summary">Legend</summary>
			<ul class="skills-legend-list">
			 <li class="skill-legend-item">
			 	<em class="skills-legend-number">
				 	<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
				</em>
				<span class="skill-legend-title">
					Expert
				</span>
				<div class="skill-legend-details">
					Could have written the book, but didn't.
				</span>
			</li>
			<li class="skill-legend-item">
				<em class="skills-legend-number">
				 	<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star"></div>
				</em>
				<span class="skill-legend-title">Excelent</span>
				<div class="skill-legend-details">Can develop/deploy large programs, implies an understanding of corner cases and esoteric features.</div>
			</li>
			<li class="skill-legend-item">
				<em class="skills-legend-number">
				 	<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star"></div>
					<div class="skill-star"></div>
				</em>
				<span class="skill-legend-title">Good</span>
				<div class="skill-legend-details">Understanding and (appropriate) usage of most lesser known features.</span>
			</li>
			<li class="skill-legend-item">
				<em class="skills-legend-number">
				 	<div class="skill-star filled"></div>
					<div class="skill-star filled"></div>
					<div class="skill-star"></div>
					<div class="skill-star"></div>
					<div class="skill-star"></div>
				</em>
				<span class="skill-legend-title">Average</span>
				<div class="skill-legend-details">Can develop/deploy medium programs/systems using all basic features and a few esoteric features.</div>
			</li>
			<li class="skill-legend-item">
				<em class="skills-legend-number">
				 	<div class="skill-star filled"></div>
					<div class="skill-star"></div>
					<div class="skill-star"></div>
					<div class="skill-star"></div>
					<div class="skill-star"></div>
				</em>
				<span class="skill-legend-title">Regular</span>
				<div class="skill-legend-details">Can utilize basic features without much help, manage a small installation competently.</div>
			</li>
			<li class="skill-legend-item">
				<em class="skills-legend-number">
				 	<div class="skill-star"></div>
					<div class="skill-star"></div>
					<div class="skill-star"></div>
					<div class="skill-star"></div>
					<div class="skill-star"></div>
				</em>
				<span class="skill-legend-title">Basic</span>
				<div class="skill-legend-details">Can read programs, make small changes to existing programs, or make adjustments to already installed systems</div>
			</li>
			</ul>
		</details>
	</div>
</section>